html {
  height: 100vh;
  width: 100vw;
  margin: 2rem;
  font-family: "Open Sans", Roboto, Montserrat;
  background-color: black;
  color: #08867d;
  display: contents;
}

#Aquarium_Builder {
  width: 85vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* This creates space between divisions */
  background-color: white;
  /*border: 5px solid green; */
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
}

#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 15px;
}

#middle {
  display: flex;
  justify-content: space-between;
}

#fishPool {
  width: 68%;
  height: 50vh;
  border: 1px solid black;
  margin-bottom: 20px;
  overflow: hidden;
  /*background-color: black; */
  border-radius: 15px;
}

#fishPool .content {
  overflow: auto;
  height: 100%;
  display: flex;
  gap: 4vmin;
  left: 50%;
  top: 50%;
  position: -ms-page;
}

.content .image {
  width: 100%;
  height: 100%;

  object-position: center;
}

#compatibilityGuide {
  width: 30%;
  height: 50vh;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 15px;
}

#footer {
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 15px;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 4px 4px darkblue;
  font-family: "Marker Felt", fantasy;
  font-size: 60px;
}

h2 {
  text-align: center;
}

#header button {
  
}

#header button {
  /* Background and border */
  background-color: black;
  
  border: white;
  color: white;
  /* Padding and margin */
  padding: 2px
  margin: 4px;
  /* Text styling */
  
  text-align: center;
  /* Hover effect */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#header button:hover {
  background-color: grey;
}

.instructions {
  color: red;
  text-align: center;
}

.fish-button {
  border-radius: 4px;
  padding: 5px;
  margin: 4px;
  font-size: 12px;
  
  
}