html {
  height: 100%;
  display: block;
  font-family: "Open Sans", Roboto, Montserrat;
  background-color: black;
  color: #daf9f7;
  height: 100vh;
  width: 100vw;
  margin: 2rem;
}

#Aquarium_Builder {
  width: 85vw;
  height: 75vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* This creates space between divisions */
  background-color: lightgrey;
  border: 5px solid green;
  padding: 20px;
  box-sizing: border-box;
}

#header {
  width: 100%;
  height: 10vh;
  border: 1px solid green;
  margin-bottom: 20px;
}

#middle {
  display: flex;
  justify-content: space-between;
}

#fishPool {
  width: 70%;
  height: 50vh;
  border: 1px solid green;
  margin-bottom: 20px;
  overflow: hidden;
  /*background-color: black; */
}

#fishPool .content {
  overflow: auto;
  height: 100%;
  display: flex;
  gap: 4vmin;
  left: 50%;
  top: 50%;
  position: -ms-page;
}

.content .image {
  width: 100%;
  height: 100%;

  object-position: center;
}

#compatibilityGuide {
  width: 30%;
  height: 50vh;
  border: 1px solid green;
  margin-bottom: 20px;
}

#footer {
  width: 100%;
  height: 10vh;
  border: 1px solid green;
}
